extends layout

include mixins/_authform

block content
  .uk-section.uk-form-section-sign
    .uk-container.uk-flex.uk-flex-center.uk-form-container
      .uk-width-1-2.uk-flex.uk-flex-center.uk-form-inside-container
        +authform(true, error)