@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  font-size:0.85em;
  background-color: #F9F9F9;
  color: #F9F9F9;
}

body.calendar {
  margin: 0 !important;
  padding: 0;
  color: black;
}

.uk-navbar{
  background-color: #343434 !important;
  
}


.logo{
  width: 18%;
  height: 75%;
}

.uk-navbar-nav>li.uk-active>a {
  color: #F9F9F9;
  font-family: Roboto;
  font-size: 1.05em;
}

.uk-overlay-default {
  background: rgba(255,255,255,0.23)
}


.info-sec{
  padding: 3% 2%;
  background-color: #2F3061;
}

.info-sec2{
  padding: 3% 2%;
  background-color: #1E1E23;
}

.button-important{
 background-color: #C9AB18;
 border-radius: 1em;
 border: none;
}

.button-important:hover {
  background-color: rgb(179, 152, 19);
  color: #fff;
}


.card-info-title{
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: bold;
}

.uk-info{ //style for card
  background: #D4DBD7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 1.5em;
  border: 1px solid #474448;
}
.uk-info p{
  color:#2F3061;

}

.info-img{
  height: 45%;
  width: 35%;
}

.number-img-container{
  display: flex;
  justify-content: flex-start;
}

.number-img{
  height: 13%;
  width: 13%;
}

.big-paragraph{
  font-size: 1.23em;
}

.authform {
  width: 40%;
}

.authErr,
.tatoo-description {
  text-align: center;
}

.tobehidden {
  display: none;
}

.timepicker-seconds {
  display: none !important;
}

.tatoo-title-container {
  display: flex;
  flex-flow: row;
  align-content: center;
}

.tatoo-title-container h3 {
  max-width: 70%;
}

.tatoo-user-actions {
  position: absolute;
  right: 30px;
}

.tatoo-author-card {
  position: absolute;
  right: 30px;
}

.tatoo-author-card h6 {
  font-size: 1em;
}

.tatoo-user-actions a {
  padding-right: 3px;
}

.create-button-container {
  margin: 2% 3% 0 3%;
}

.tatoo-property {
  margin: 4%;
  text-align: center;
  font-size: 1.05em;
}

hr {
  margin: 0;
}

.tatoo-card-buy-info {
  padding: 1%;
}

.tatoo-card-buy-card {
  margin-top: 3%;
}

.mylabel {
  display: flex;
}



///Styles form login and signup
.uk-form-section{
  height: 100%;
  padding: 90px 0;
}

.uk-form-section-sign{
  height: 100%;
  padding: 60px 0;
}


.uk-form-inside-container{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #2F3061;;
  padding: 4%;
}

.uk-form-label-custom{
  color: #F9F9F9;
}

.uk-input-custom{
  border: 1.6px solid #343434;
}

.uk-alert-danger {
  background: #aa8f94;;
  color: #642430;
  border-radius: 10px;
}
